.header
  padding-top: 50px
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    height: 60px
    width: 100%
  &__logo
    width: 49px
    height: 35px
    margin-right: 120px
  &__nav
    margin-right: auto
  &__list
    display: flex
    align-items: center
    list-style-type: none
    margin: 0
    padding: 0
  &__item
    margin-right: 40px
  &__link
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 26px
    color: $dark-secondary
    text-decoration: none
    &:hover
      color: $dark-primary
  &-button
    display: flex
    align-items: center
    justify-content: center
    width: 210px
    height: 60px
    background: $light-primary
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1)
    border-radius: 50px
    &__text
      font-style: normal
      font-weight: 500
      font-size: 16px
      line-height: 26px
      letter-spacing: 0.005em
      color: $dark-primary
    &__icon
      width: 20px
      height: 14px
      margin-left: 20px
      fill: $accent
