@media (max-width: 1200px)
  .container
    max-width: 960px

@media (max-width: 991px)
  .container
    max-width: 700px
  .header
    &__logo
      margin-right: 0
    &__nav
      margin-right: 0
    &__item
      margin-right: 10px
      margin-left: 10px

@media (max-width: 767px)
  .container
    max-width: 576px
    width: 90%
  .header
    padding-top: 30px
    &__nav
      display: none
    &-button
      display: none

// @media (max-width: 575px)
